body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("src/assets/background.png");
  background-repeat: repeat;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root::-webkit-scrollbar {
  display: none;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

.logo {
  width: 600px;
  height: 100px;
  background-image: url("src/assets/logo.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.iconImage {
  width: 64px;
  height: 64px;
  background-size: contain;
  border-radius: 50%;
}
